*{
    margin: 0;
    padding: 0;
}
.first-page{
    height: 100vh;
    background-color: #34353A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-page{
    background-color:#31333B;
    padding-bottom: 4rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C7D7F;
    padding-top: 3%;
    font-size: 1.5rem;
}
.header >  div{
    width: fit-content;
    margin:0px 15px;
}

.header-options {
    position: relative;
    cursor: pointer;
}
.header-options:hover{
    color: white;
}
.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    margin: 5% 10% 20% 10%;
    text-align: left;
    display:flex;
    flex-direction: column;
}
.name{
        color: #FFC86B;
        font-size:3.5rem;
}
.job-title{
    padding-top:5px;
    font-size: 2rem;
}
.connect-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}
.bar{
    height: 3px;
    background-color: #FFC86B;
    width: 20%;
    flex:2;
    margin:0px 10px;
}
.icons{
    margin:0px 10px;
}
.icons:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.icon-list{
    flex: 1;
    display: flex;
}